<nav class="container mx-auto px-4 py-3 bg-white shadow-sm sticky top-0 z-50">
  <div class="flex justify-between items-center">
    <a href="{% url 'dashboard_home' %}"
       class="text-lg font-bold text-primary-950"><span class="text-primary-950 text-2xl font-serif font-bold">MyWay<span class="text-secondary-500">Production</span></span></a>
    <ul class="flex items-center space-x-4">
      {% comment %} <li>
        <a href="{% url 'property_list' %}" class="text-neutral-700 hover:text-primary-700">Properties</a>
      </li> {% endcomment %}
      {% comment %} <li>
        <a href="{% url 'accounts_list' %}"
           class="text-neutral-700 hover:text-primary-700">Accounts</a>
      </li> {% endcomment %}
      <li>
        <a href="{% url 'logout' %}"
           class="text-neutral-700 hover:text-primary-700">ອອກຈາກລະບົບ</a>
      </li>
    </ul>
  </div>
</nav>
